* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
}

#root {
  margin: 0 15px;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 15px;
}

input {
  max-width: 480px;
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}
